* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}

img{
    height: 35rem;
    transition: transform 0.5s ease-in-out;
}

.starter-translate{
    transform: translate(100px , -100px);
}
  
    

.enemy-translate{
    transform: translate(-100px , 100px);
}

  