* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}

img{
    height: 60vh;
    transition: transform 0.5s ease-in-out;
}

.starter-translate{
    transform: translate(100px , -100px);
}
  
    

.enemy-translate{
    transform: translate(-100px , 100px);
}

#bag{
    height:100vh;
    width:100vw;
}
#selection{
    height:100vh;
    width:100vw;
}
.Pokelist{
    z-index: 1;
    position: absolute;
    width: 20vw;
    height:15vh;
}
#mobile-warning {
    position: fixed;
    top: 0;
    left: 0;
    background: red;
    color: white;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    z-index: 9999;
  }